@model IEnumerable<Teste1._1.Models.Alunos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <label>Idade</label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            int idade = DateTime.Now.Year - item.Nascimento.Value.Year;

            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @idade
                </td>

            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Numero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Numero">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.Numero">X</a>
            </td>
        </tr>
}
    </tbody>
</table>
